$primary: #bb2026;
// $primary: #eb1b23;
$secondary: #23446b;
$black: #1a1a1a;
$faded_black: #2a2a2a;
$sub: #5c727d;
// eb1c24
// 961b1e
// #bb2026

// Variables
$btn-bg: $primary;
$btn-hover-bg: darken($primary, 10%);
$input-bg: #f6f6f6;
$input-border: #ddd;
$input-text: #333;
$header-bg: $primary;
$header-text: #fff;
$cta-color: #fff;
